:root {
    --background: #121212;
    --nav: #1f1f1f;
    --cards: #1e1e1e;
    --buttons: #bb86fc;
    --text: #e3e3e3;
    --notes: #a0a0a0;
}

body {
    background-color: var(--background);
}

h1 {
    color: var(--text);
    text-align: center;
}

#navigation {
    background-color: var(--nav) !important;
}

a:hover {
    color: var(--buttons) !important;
}

.navbar-brand {
    color: var(--text);
}

.row {
    margin-top: auto;
    margin-bottom: 2%;
}

.card {
    margin-top: auto;
    margin-bottom: auto;
    background-color: var(--cards);
    color: var(--text);
    border-color: var(--text);
}

.card-footer {
    border-color: var(--cards);
}

.btn-primary, .btn-primary:visited, .btn-primary:focus{
    background-color: var(--buttons);
    border-color: var(--buttons);
    color: var(--cards);
    margin-bottom: 2%;
}

.btn-primary:active, .btn-primary:hover {
    background-color: var(--cards) !important;
    border-color: var(--buttons) !important;
    color: var(--buttons);
}

.btn-outline-primary, .btn-outline-primary:visited, .btn-outline-primary:focus{
    background-color: var(--cards) !important;
    border-color: var(--buttons) !important;
    color: var(--buttons);
}

.btn-outline-primary:active, .btn-outline-primary:hover {
    background-color: var(--buttons) !important;
    border-color: var(--buttons) !important;
    color: var(--cards) !important;
}

#moreprojects {
    text-align: center;
}